/* /* .container{
    /* border: 3px solid black;
    display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  
    
}
.i{
    border: 3px solid black;
    padding: 30px;
    text-align: center;
}
.j{
    border: 3px solid black;
    padding: 30px;
    text-align: center;
}
.k{
    border: 3px solid black;
    padding: 30px;
    text-align: center;
}   */

.navbar navbar-light bg-light{
    color: brown;
  }
  